---
import Layout from '../components/Layout.astro';
import BlogGrid from '../components/BlogGrid.astro';

const postImports = import.meta.glob('./contributions/*.md', { eager: true });

const posts = Object.entries(postImports).map(([path, post]) => ({
  url: path.replace('./contributions', '/contributions').replace('.md', ''),
  title: post.frontmatter.title,
  date: post.frontmatter.date,
  thumbnail: post.frontmatter.thumbnail,
  content: post.compiledContent(),
}));
---

<Layout title="All Blog Posts">
  <h1><ul><b>All Blog Posts:</b></ul></h1>
  <BlogGrid posts={posts} />
</Layout>