---
import Button from "../components/Button.astro";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import Layout from "../components/Layout.astro";
---

<Layout>
	<h1>Hello!</h1>
</Layout>