---
title: "Students Corner"
import Layout from "../components/Layout.astro";

const { title } = Astro.props;
---

<Layout title={title}>
    <div class="textarea">
        <h1>Guidance Booklet</h1>
        <p>A Career Guidance Booklet for our students can be found here:</p>
        <p><a href="staticServe/CareerGuidanceBooklet-ForPublic.pdf">Career Guidance Booklet.pdf</a></p>
    </div>
</Layout>