---
---
<footer class="sub doCenter">
    <hr>
    <span><a href="https://github.com/hamb1y/jnvckm">JNVCKM © 2025</a></span>
    <span class="">Site fully designed, made & written by <a href="https://rishimalnad.dev">Rishi S. Malnad</a> (<a href="htpps://github.com/hamb1y">hamb1y on GitHub</a>)</span>
</footer>
