---
import ThemeSwitcher from "./ThemeSwitcher.astro"
---
<header class="doCenter">
    <hr class="">
    <img src="/images/jnvckm-logo.webp" sub="jnvckm-logo" height="80px">
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/contributions">Contributions</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/alumni">Alumni Corner</a></li>
        <li><a href="/students">Student's Corner</a></li>
        <li><a href="https://jnvckm.vercel.app/admin/index.html">Admin Login</a></li>
    </ul>
    
    <ThemeSwitcher />
    <hr class="">
</header>

<style>
    header, footer {
        display: flex;
        justify-content: flex-end; /* Aligns items to the right */
        align-items: center; /* Vertically centers items if they have different heights */
        /* You might want to add some padding or gap here */
        padding: 1rem;
        gap: 1rem; /* Adds space between flex items */
    }

    /* Adjust hr to fit within the flex layout if needed */
    hr {
        width: auto; /* Allow hr to shrink/grow as needed */
        flex-grow: 1; /* Allow hr to take up available space */
        border: none; /* Remove default hr border */
        border-top: 1px solid var(--accent-color); /* Apply your adaptive gray */
    }
</style>
