backend:
  name: git-gateway
  branch: main

media_folder: "images"

collections:
  - name: "blogs"
    label: "Blogs"
    folder: "src/pages/blogs"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - label: "Title"
        name: "title"
        widget: "string"
      - label: "Publish Date"
        name: "date"
        widget: "datetime"
      - label: "Featured Image"
        name: "thumbnail"
        widget: "image"
      - label: "Body"
        name: "body"
        widget: "markdown"
      - name: "layout"
        widget: "hidden"
        default: "../../src/components/BlogLayout.astro"

  - name: "events"
    label: "Events"
    folder: "src/pages/events"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - label: "Title"
        name: "title"
        widget: "string"
      - label: "Event Date"
        name: "event_date"
        widget: "datetime"
      - label: "Location"
        name: "location"
        widget: "string"
      - label: "Body"
        name: "body"
        widget: "markdown"
      - name: "layout"
        widget: "hidden"
        default: "../../src/components/BlogLayout.astro"

  - name: "contributions"
    label: "Contributions"
    folder: "src/pages/contributions"
    create: true
    slug: "{{slug}}"
    fields:
      - label: "Title"
        name: "title"
        widget: "string"
      - label: "Contributor"
        name: "contributor"
        widget: "string"
      - label: "Date"
        name: "date"
        widget: "datetime"
      - label: "Body"
        name: "body"
        widget: "markdown"
      - name: "layout"
        widget: "hidden"
        default: "../../src/components/BlogLayout.astro"

